.hero {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 0 100px;
    height: calc(100vh - 100px);

    &__content {
        h1 {
            font-weight: 700;
            font-size: 70px;
        }

        p {
            margin-top: 13px;
            font-weight: 700;
            font-size: 18px;
        }
    }

    &__image {
        display: flex;
        justify-content: flex-end;
        height: min(80vh, 70vw);

        img {
            height: auto;
            border-radius: 10px;
        }
    }
}